---
import { Button } from "../../components/Button";
import SectionWrapper from "../freelancing/components/SectionWrapper.astro";
---

<SectionWrapper bgColor="bg-ternary-200">
  <div class="py-20">
    <h1 class="p-14 text-center">Contact me</h1>
    <p class="m-auto w-[40ch] pb-10 text-center text-xl">
      Are you looking for <span
        class="underline decoration-primary-500 decoration-2">a developer</span
      > to join your team or need a static <span
        class="underline decoration-primary-500 decoration-2"
      >
        website for your company?</span
      >
    </p>
    <div class="flex justify-center gap-6">
      <Button
        href="/contact-me/hire-freelancer"
        text="I need a website"
        withShadow
      />
      <Button
        href="/contact-me/hire-developer"
        text="I need a developer"
        type="secondary"
      />
    </div>
  </div>
</SectionWrapper>
