---
import MainLayout from "../../layouts/MainLayout.astro";

const title = "Michał Rosa Fullstack developer | Blog";
const description =
  "Michał Rosa is a Fullstack developer, with commercial experience in making web apps using technologies like React.js, Node.js, and Express.js";
---

<MainLayout title={title} description={description}>
  <div>
    <p>blog</p>
  </div>
</MainLayout>
