---
import { Image } from "astro:assets";

const { img, title, subTitle, list } = Astro.props;

const makeStringFromArray = (list: string[]) => list?.join(", ");
---

<article
  class="animationHidden animationLeft w-64 shrink-0 rounded-2xl bg-primary-200 p-6 text-center shadow-xl md:w-72"
>
  <div class="pb-6">
    <div class="mx-auto mb-1 w-24 overflow-hidden rounded-2xl">
      <Image src={import(img)} alt="" />
    </div>
    <h3 class="pb-1 text-2xl md:text-3xl">{title}</h3>
    <h4 class="text-sm md:text-xl">{subTitle}</h4>
  </div>

  <div>
    <h5 class="pb-3 text-sm md:text-xl">TECH STACK</h5>

    <div>
      <p class="max-md:text-sm">
        {makeStringFromArray(list)}
      </p>
    </div>
  </div>
</article>

<style>
  .animationHidden:nth-child(2) {
    transition-delay: 200ms;
  }

  .animationHidden:nth-child(3) {
    transition-delay: 400ms;
  }
</style>
