---
import MainLayout from "../../layouts/MainLayout.astro";
import ContactMeSection from "@components/index/ContactMeSection.astro";
import Form from "@components/contact-me/FreelancingForm.tsx";
import SectionWrapper from "@components/freelancing/components/SectionWrapper.astro";
import { DESCRIPTION, TITLE } from "src/consts";

const title = TITLE.CONTACT_ME;
const description = DESCRIPTION.CONTACT_ME;
---

<MainLayout title={title} description={description}>
 ---

<MainLayout title="" description="">
   <SectionWrapper bgColor="bg-ternary-200">
     <h1 class="pb-12 pt-16 text-center">
      Hire me to build your <span
        class="underline decoration-primary-500 decoration-4 underline-offset-4"
        >website
      </span>
    </h1>
    <Form client:load />
  </SectionWrapper>
  <ContactMeSection />
</MainLayout>
