.animationHidden {
  @apply opacity-0;
  filter: blur(5px);
  transition:
    transform 1s,
    filter 1s,
    opacity 1s;
}

.animationLeft {
  transform: translateX(-100px);
}

.animationRight {
  transform: translateX(100px);
}

.animationBottom {
  transform: translateY(100px);
}

.show {
  @apply opacity-100;
  filter: blur(0);
  transform: translate(0, 0);
}
