@tailwind base;

html {
  scroll-behavior: smooth;
}

@layer base {
  p {
    @apply font-light tracking-wider;
  }
}

:root {
  --bar-width: 44px;
  --bar-height: 6px;
  --hamburger-gap: 6px;
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 400ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  /* position: absolute; */
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu span {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  @apply bg-primary-500;
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu .active {
  opacity: 0;
  width: 0;
}

.hamburger-menu:has(.active)::before {
  transform: rotate(45deg);
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(.active)::after {
  transform: rotate(-45deg);
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.dropdown {
  translate: 0 100%;
  transition: translate var(--animation-timing);
}

.dropdown.active {
  translate: 0 0;
}
