---
import clsx from "clsx";
import SectionTitle from "../../components/SectionTitle.astro";
import SectionWrapper from "./components/SectionWrapper.astro";

const titleColor = "primary";
const paragraphColor = "text-secondary-50";
---

<SectionWrapper bgColor="bg-secondary-700">
  <div class="flex flex-col">
    <article class="animationHidden animationLeft sm:w-1/2 lg:pr-14">
      <SectionTitle title="Design" color={titleColor} underlineFullWidth />
      <p class={clsx("pb-4", paragraphColor)}>
        In design, I embrace simplicity and clarity. Let's design a website that
        will give the customer a clear view of the service or the product you
        provide. With a logical structure of information, Your website will be
        designed for high conversion.
      </p>
      <p class={clsx("pb-4", paragraphColor)}>
        With a free choice of components like layout, fonts, color scheme, and
        some animations we can craft a unique product.
      </p>
    </article>

    <article
      class="animationHidden animationRight sm:w-1/2 sm:self-end sm:text-end lg:pl-14"
    >
      <SectionTitle title="Coding" color={titleColor} underlineFullWidth />
      <p class={clsx("pb-4", paragraphColor)}>
        Using the modern approach of building a static website gives us multiple
        advantages. Using CSS gives complete control over how the website looks.
        Using static website generators gives us a top-tier speed when it comes
        to loading and efficiency. With headless CMS of choice, we can make it editable
        by non-technical person.
      </p>
    </article>
  </div>
</SectionWrapper>
