---
import { Button } from "../../components/Button";
import SectionWrapper from "@components/freelancing/components/SectionWrapper.astro";
import Myself from "@images/myself.webp";
import { Image } from "astro:assets";
---

<SectionWrapper bgColor="bg-ternary-200">
  <!-- <div class="mx-auto overflow-hidden px-2 lg:px-12"> -->
  <div
    class="flex items-center justify-center gap-x-4 pb-16 pt-24 sm:py-24 lg:h-screen"
  >
    <div
      class="z-10 rounded-3xl max-lg:max-w-sm max-md:mr-[-150px] max-md:self-end max-md:bg-ternary-400 max-md:p-4 max-md:pl-4 max-sm:mr-[-320px] sm:min-w-[276px] md:p-8 md:pr-6 lg:min-w-[460px]"
    >
      <h1 class="mb-2 text-2xl lg:mb-16 lg:text-5xl">
        Creating appealing websites
        <br />
        for small business
      </h1>
      <p class="mb-2 text-xl max-md:text-base lg:mb-16 lg:text-3xl">
        I am a software developer with 4 years of experience who will design,
        create, and make your website fast and editable.
      </p>
      <div class="mb-2 lg:mb-16">
        <Button
          href="/contact-me/hire-freelancer"
          withShadow
          text="Contact me"
        />
      </div>
    </div>
    <div
      class="self-start overflow-hidden rounded-3xl max-[340px]:scale-125 md:mt-8 md:max-w-lg md:self-end lg:min-w-[512px]"
    >
      <Image loading="eager" src={Myself} alt="" />
    </div>
  </div>
  <!-- </div> -->
</SectionWrapper>
