---
import MainLayout from "../layouts/MainLayout.astro";
import MainSection from "./index/MainSection.astro";
import AboutMeSection from "./index/AboutMeSection.astro";
import ExperienceSection from "./freelancing/ExperienceSection/index.astro";
import { TITLE, DESCRIPTION } from "../consts.ts";
import SectionWrapper from "./freelancing/components/SectionWrapper.astro";
import ContactMeSection from "./index/ContactMeSection.astro";

const title = TITLE.HOME;
const description = DESCRIPTION.HOME;
---

<MainLayout title={title} description={description}>
  <SectionWrapper bgColor="bg-ternary-200">
    <div
      class="flex flex-col items-start justify-center gap-x-4 pb-16 md:flex-row lg:pt-8"
    >
      <MainSection />
      <div
        class="mt-8 self-end overflow-hidden rounded-3xl md:max-w-lg lg:min-w-[512px]"
      >
        <img class="object-cover" src="/myself.webp" alt="" />
      </div>
    </div>
  </SectionWrapper>
  <AboutMeSection />
  <ExperienceSection />
  <ContactMeSection />
</MainLayout>
