---
import MainLayout from "../layouts/MainLayout.astro";
import MainSection from "@components/index/MainSection.astro";
import AboutMeSection from "@components/index/AboutMeSection.astro";
import ExperienceSection from "@components/freelancing/ExperienceSection/index.astro";
import { TITLE, DESCRIPTION } from "../consts.ts";
import SectionWrapper from "@components/freelancing/components/SectionWrapper.astro";
import ContactMeSection from "@components/index/ContactMeSection.astro";

const title = TITLE.HOME;
const description = DESCRIPTION.HOME;
---

<MainLayout title={title} description={description}>
  <SectionWrapper bgColor="bg-ternary-200">
    <div
      class="relative left-0 flex flex-row items-start justify-center gap-x-4 pb-16 lg:pt-8"
    >
      <MainSection />
      <div
        class="mt-8 self-end overflow-hidden rounded-3xl max-[340px]:scale-150 md:max-w-lg lg:min-w-[512px]"
      >
        <img class="object-cover" src="/myself.webp" alt="" />
      </div>
    </div>
  </SectionWrapper>
  <AboutMeSection />
  <ExperienceSection />
  <ContactMeSection />
</MainLayout>
