<footer class="p-4 bg-slate-500 text-white font-medium text-center">
  <p class="my-2">Website written in astro react, and tailwind</p>
  <p class="my-2">
    Check source code <a href="https://github.com/MichalRsa/astro-blog">HERE</a>
  </p>
</footer>
