<header>
  <nav>
    <div class="flex justify-between px-12 py-6 w-full absolute box-border">
      <img width="25" height="25" src="/MR.png" />
      <ul class="flex">
        <a href="#about-me">
          <li class="ml-6 hover:underline hover:underline-offset-8">
            ABOUT ME
          </li>
        </a>
        <a href="#timeline">
          <li
            class="ml-6 hover:underline hover:decoration-2 hover:underline-offset-8"
          >
            TIMELINE
          </li>
        </a>
        <a href="#find-me">
          <li
            class="ml-6 hover:underline hover:decoration-2 hover:underline-offset-8"
          >
            FIND ME
          </li>
        </a>
      </ul>
    </div>
  </nav>
</header>
