<header>
  <nav>
    <div class="flex justify-between px-12 py-6 w-full absolute box-border">
      <p>MR</p>
      <ul class="flex">
        <a href="#about-me">
          <li
            class="ml-6 hover:underline hover:decoration-2 hover:underline-offset-8 hover:decoration-orange-400"
          >
            ABOUT ME
          </li>
        </a>
        <a href="#timeline">
          <li
            class="ml-6 hover:underline hover:decoration-2 hover:underline-offset-8 hover:decoration-orange-400"
          >
            TIMELINE
          </li>
        </a>
        <a href="#find-me">
          <li
            class="ml-6 hover:underline hover:decoration-2 hover:underline-offset-8 hover:decoration-orange-400"
          >
            FIND ME
          </li>
        </a>
      </ul>
    </div>
  </nav>
</header>
