---
const links = [
  {
    label: "about me",
    url: "/",
  },
  {
    label: "blog",
    url: "/blog/",
  },
];
---

<header>
  <nav>
    <div class="flex justify-between px-12 py-6 w-full absolute box-border">
      <img width="25" height="25" src="/MR.png" alt="logo" />
      <ul class="flex">
        {
          links.map((link) => (
            <li class="ml-6 hover:underline hover:decoration-2 hover:underline-offset-8 uppercase">
              <a href={link.url}>{link.label}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</header>
