---
const navList = [
  {
    name: "ABOUT ME",
    link: "#about-me",
  },
  {
    name: "TIMELINE",
    link: "#timeline",
  },
  {
    name: "FIND ME",
    link: "#find-me",
  },
];
---

<header>
  <nav>
    <div class="flex justify-between px-12 py-6 w-full absolute box-border">
      <img width="25" height="25" src="/MR.png" alt="logo" />
      <ul class="flex">
        {
          navList.map((navElement) => (
            <li class="ml-6 hover:underline hover:underline-offset-8">
              <a href={navElement.link}>{navElement.name}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</header>
