---
import clsx from "clsx";

interface Props {
  title: string;
  color?: "primary" | "secondary";
  underlineFullWidth?: boolean;
}

const { title, color = "secondary", underlineFullWidth = false } = Astro.props;

const titleColor = {
  primary: "border-primary-500 text-primary-500",
  secondary: "border-secondary-500 text-secondary-500",
};
---

<h2
  class={clsx(
    "mb-8  text-2xl md:text-4xl",
    underlineFullWidth
      ? "border-b-2 pb-1"
      : "underline decoration-2 underline-offset-8",
    titleColor[color],
  )}
>
  {title}
</h2>
