---
import SectionTitle from "../../components/SectionTitle.astro";
import SectionWrapper from "../freelancing/components/SectionWrapper.astro";
---

<SectionWrapper bgColor="bg-secondary-700">
  <article class="sm:w-1/2 lg:pr-14">
    <SectionTitle underlineFullWidth title="About Me" color="primary" />
    <p class="text-ternary-200">
      <b>Self-taught Web Developer. With 4 years of experience.</b> Starting a professional
      career as a full stack developer gives me a strong foundation of web app mechanics
      from hosting through the backend and database to crafting user experience with
      React.
    </p>
    <p class="text-ternary-200">
      Now, I am focused on the UI/UX aspects of the applications and websites.
      Under my belt, I have tools like Figma, Astro.js, React.js, headless
      CMSes, and Cloud Services. This STACK lets me ship the full product to the
      customer.
    </p>
  </article>
</SectionWrapper>
