---
import SectionTitle from "../../components/SectionTitle.astro";
import SectionWrapper from "../freelancing/components/SectionWrapper.astro";
---

<SectionWrapper bgColor="bg-secondary-700">
  <article class="sm:w-1/2 lg:pr-14">
    <SectionTitle underlineFullWidth title="About Me" color="primary" />
    <p class="text-ternary-200">
      <b>Self-taught Web Developer. With 4 years of experience.</b> Started proffesional
      career as a full stack developer gives me strong foundation of a web apps mechanics
      from hosting through backend and database to crafting user experience with
      React.
    </p>
    <p class="text-ternary-200">
      Now, I am focused on the UI/UX aspects of the applications and websites.
    </p>
  </article>
</SectionWrapper>
