---
import BaseHead from "../components/BaseHead.astro";
import { Header } from "../components/Header.tsx";
import Footer from "../components/Footer.astro";

import "@fontsource/oswald";
import "@fontsource/roboto";

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <div class="overflow-x-hidden">
      <Header client:only />
      <slot />
      <Footer />
    </div>
    <script src="/src/services/observerService.ts"></script>
  </body>
</html>
